@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: rgba(0, 0, 0, 0.9);
    --foreground: #ededed;
    --link-color: #3b82f6;
    --button-background: #1f2937;
    --button-text: #f9fafb;
} 


body {
  color: var(--foreground);
  background: rgba(22, 22, 22, 0.9);
  font-family: Arial, Helvetica, sans-serif;
}

th {
    color: rgba(46, 46, 46, 0.9);
    background:  rgba(255, 255, 255, 0.9); 
}

input {
    color: rgba(255, 255, 255, 0.9);
    background: #2b2b2be6;
}

/* th, td {
    border: 4px;
    border: 1px solid red;
} */

tr{
    border-radius: 8px; 
    overflow: hidden; 
    padding-top: 10px;
}

.interaction-row {
    cursor: pointer;
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 8px; 
    overflow: hidden; 
    padding: 10px;
}
tr:hover {
    background-color:  rgba(36, 36, 36, 0.9); 
}

th {
    color:  rgba(255, 255, 255, 0.9); 
    background-color:  rgba(27, 27, 27, 0.9); 
}


.tab {
    color:  rgba(255, 255, 255, 0.9); 
}  

.tab:hover {
    background-color:  rgba(119, 119, 119, 0.9); 
} 

.tab.active {
    background-color:  rgba(29, 29, 29, 0.9); 
    
}   


